table thead tr{
    display: flex;
    position: relative;
    gap: 1rem;
    background-color: blueviolet;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 60rem;
}
table tbody{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
table tbody tr{
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: blueviolet;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 60rem;
    position: relative;
}
.buttons{
    display:flex ;
    position: absolute;
    right: 10px;
    top: 0;

}
.btn{
    border: none;
    background-color: inherit;
}
.btn-primary{
    color: white;
    font-weight: 700;
    padding: 1rem;
    background-color: rgb(39, 39, 183);
}
.btn-success{
    color: white;
    font-weight: 700;
    padding: 1rem;
    background-color: rgb(63, 183, 39);
}
.btn-danger{
    color: white;
    font-weight: 700;
    padding: 1rem;
    background-color: rgb(183, 46, 39);
}